[Unit]
Description=Mount /perm 
Before=local-fs.target
BindsTo=dev-mmcblk2p7.device
Requires=systemd-fsck@dev-mmcblk2p7.service
After=systemd-fsck@dev-mmcblk2p7.service
ConditionPathExists=/perm


[Mount]
What=/dev/mmcblk2p7
Where=/perm
Type=none
