[Unit]
Description=Persistent Journal Storage Bind
Before=local-fs.target
RequiresMountsFor=/perm
ConditionPathIsReadWrite=/perm
Requires=perm-mount.service
After=perm-mount.service

[Mount]
What=/perm/journal
Where=/var/volatile/log/journal
Type=none
Options=bind
