CONFIG_USB_GADGET_DOWNLOAD=y
# CONFIG_USB_MASS_STORAGE is not set
# CONFIG_CMD_USB is not set
CONFIG_USB=y
CONFIG_USB_GADGET=y
CONFIG_USB_GADGET_MANUFACTURER="Ezurio"
CONFIG_USB_GADGET_VENDOR_NUM=0x0525
CONFIG_USB_GADGET_PRODUCT_NUM=0xa4a5
CONFIG_USB_GADGET_OS_DESCRIPTORS=y
CONFIG_CI_UDC=y
CONFIG_ENV_IS_NOWHERE=y
# CONFIG_ENV_IS_IN_FAT is not set
CONFIG_BOOTDELAY=3
# CONFIG_USB_XHCI_HCD is not set
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_EHCI_MX7=y
# CONFIG_CMD_USB_MASS_STORAGE is not set
CONFIG_USB_FUNCTION_FASTBOOT=y
CONFIG_FASTBOOT_BUF_ADDR=0x44000000
CONFIG_FASTBOOT_UUU_SUPPORT=y
CONFIG_FASTBOOT_OEM_RUN=y
CONFIG_FAT_WRITE=n
