[Unit]
Description=Mount Data Partition
Before=multi-user.target
After=blk-availability.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/mount_data.sh start
ExecStop=/usr/sbin/mount_data.sh stop
CapabilityBoundingSet=CAP_SYS_ADMIN

[Install]
WantedBy=local-fs.target
