[Unit]
Description=Mount Data Partition
DefaultDependencies=false
Wants=local-fs.target
Before=multi-user.target systemd-tmpfiles-setup.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/mount_data.sh start
ExecStop=/usr/sbin/mount_data.sh stop
CapabilityBoundingSet=CAP_SYS_ADMIN

[Install]
WantedBy=local-fs.target
