CONFIG_HW_COMPATIBILITY=y
CONFIG_HW_COMPATIBILITY_FILE="/run/hwrevision"
CONFIG_SW_VERSIONS_FILE="/run/sw-version"
CONFIG_SOCKET_CTRL_PATH="/tmp/sockinstctrl"
CONFIG_SOCKET_PROGRESS_PATH="/tmp/swupdateprog"
# CONFIG_MTD is not set
# CONFIG_LUA is not set
CONFIG_UBOOT=y
CONFIG_HASH_VERIFY=y
# CONFIG_WEBSERVER is not set
CONFIG_ZSTD=y
CONFIG_BOOTLOADERHANDLER=y
CONFIG_RAW=y
CONFIG_SHELLSCRIPTHANDLER=y
