# CONFIG_CFI is not set
CONFIG_DISKPART=y
CONFIG_DISKPART_FORMAT=y
CONFIG_DISKFORMAT_HANDLER=y
CONFIG_FAT_FILESYSTEM=y
CONFIG_EXT_FILESYSTEM=y
CONFIG_COPY=y
CONFIG_EMMC_HANDLER=y
CONFIG_READBACKHANDLER=y
