LCONF_VERSION = "7"

BBPATH = "${TOPDIR}"
BSPDIR := "${@os.path.abspath(os.path.dirname(d.getVar('FILE', True)) + '/../..')}"

BBFILES ?= ""
BBLAYERS = " \
  ${BSPDIR}/sources/meta-summit-som \
  \
  ${BSPDIR}/sources/poky/meta \
  ${BSPDIR}/sources/poky/meta-poky \
  \
  ${BSPDIR}/sources/meta-openembedded/meta-oe \
  ${BSPDIR}/sources/meta-openembedded/meta-multimedia \
  ${BSPDIR}/sources/meta-openembedded/meta-python \
  \
  ${BSPDIR}/sources/meta-freescale \
  ${BSPDIR}/sources/meta-freescale-3rdparty \
  ${BSPDIR}/sources/meta-freescale-distro \
  \
  ${BSPDIR}/sources/meta-ti/meta-ti-bsp \
  ${BSPDIR}/sources/meta-ti/meta-ti-extras \
  \
  ${BSPDIR}/sources/meta-arm/meta-arm \
  ${BSPDIR}/sources/meta-arm/meta-arm-toolchain \
  \
  ${BSPDIR}/sources/meta-openembedded/meta-networking \
  ${BSPDIR}/sources/meta-openembedded/meta-filesystems \
  \
  ${BSPDIR}/sources/meta-qt5 \
  \
  ${BSPDIR}/sources/meta-swupdate \
  ${BSPDIR}/sources/meta-timesys \
  \
  ${BSPDIR}/sources/meta-summit-radio/meta-summit-radio \
"

REF_BBLAYERS ?= " \
    ##OEROOT##/../meta-arago/meta-arago-distro
    ##OEROOT##/../meta-arago/meta-arago-extras
    ##OEROOT##/../meta-arago/meta-arago-demos
    ##OEROOT##/../meta-arago/meta-arago-test
    ##OEROOT##/../meta-qt5
    ##OEROOT##/../meta-virtualization
    ##OEROOT##/../meta-openembedded/meta-networking
    ##OEROOT##/../meta-openembedded/meta-python
    ##OEROOT##/../meta-openembedded/meta-oe
    ##OEROOT##/../meta-openembedded/meta-gnome
    ##OEROOT##/../meta-openembedded/meta-filesystems
    ##OEROOT##/../meta-openembedded/meta-multimedia
    ##OEROOT##/../meta-ti/meta-ti-extras
    ##OEROOT##/../meta-ti/meta-ti-bsp
    ##OEROOT##/../meta-arm/meta-arm
    ##OEROOT##/../meta-arm/meta-arm-toolchain
    ##OEROOT##/../meta-clang
    ##OEROOT##/../oe-core/meta
    ##OEROOT##/../oe-layersetup
"