// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2021 Laird Connectivity
 */

/ {
	reg_audio_pwr: regulator-audio-pwr {
		compatible = "regulator-fixed";

		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_audpwr>;

		gpio = <&gpio4 29 GPIO_ACTIVE_HIGH>;

		regulator-name = "audio-pwr";

		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;

		enable-active-high;
		regulator-always-on;
	};

	sound-xcvr {
		compatible = "fsl,imx-audio-xcvr";
		model = "imx-audio-xcvr";
		cpu-dai = <&xcvr>;
		status = "disabled";
	};

	sound-wm8960 {
		compatible = "lrd,imx7d-dvk-wm8960", "lrd,imx-audio-wm8960";

		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_wm8960>;

		model = "wm8960-audio";
		cpu-dai = <&sai3>;
		audio-codec = <&codec>;
		asrc-controller = <&easrc>;
		headset-controller = <&headset>;
		codec-master;
		/* JD3: hp detect low for headphone */
		hp-det = <3 1>;
		hp-det-gpios = <&gpio4 28 GPIO_ACTIVE_LOW>;
		mic-det-gpios = <&gpio4 28 GPIO_ACTIVE_LOW>;
		audio-routing =
			"Headphone Jack", "HP_L",
			"Headphone Jack", "HP_R",
			"Ext Spk", "SPK_LP",
			"Ext Spk", "SPK_LN",
			"Ext Spk", "SPK_RP",
			"Ext Spk", "SPK_RN",
			"LINPUT1", "Mic Jack",
			"CPU-Playback", "ASRC-Playback",
			"Playback", "CPU-Playback",
			"ASRC-Capture", "CPU-Capture",
			"CPU-Capture", "Capture";
	};
};

&gpiokeys {
	pinctrl-0 = <&pinctrl_wakeup_keys &pinctrl_audio_keys>;

	volume-up {
		label = "Volume Up";
		gpios = <&gpio3 23 GPIO_ACTIVE_LOW>;
		linux,code = <KEY_VOLUMEUP>;
	};

	volume-down {
		label = "Volume Down";
		gpios = <&gpio3 22 GPIO_ACTIVE_LOW>;
		linux,code = <KEY_VOLUMEDOWN>;
	};
};

&iomuxc {
	pinctrl_audpwr: audpwrgrp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI3_RXC__GPIO4_IO29		0x00000002
		>;
	};

	pinctrl_wm8960: wm8960grp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI3_RXFS__GPIO4_IO28		0x86
		>;
	};

	pinctrl_ts3a227e: ts3a227egrp {
		fsl,pins = <
			MX8MP_IOMUXC_SPDIF_EXT_CLK__GPIO5_IO05     0x000001C6
		>;
	};

	pinctrl_sai3: sai3grp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI3_TXFS__AUDIOMIX_SAI3_TX_SYNC	0xd6
			MX8MP_IOMUXC_SAI3_TXC__AUDIOMIX_SAI3_TX_BCLK	0xd6
			MX8MP_IOMUXC_SAI3_RXD__AUDIOMIX_SAI3_RX_DATA00	0xd6
			MX8MP_IOMUXC_SAI3_TXD__AUDIOMIX_SAI3_TX_DATA00	0xd6
			MX8MP_IOMUXC_SAI3_MCLK__AUDIOMIX_SAI3_MCLK	0xd6
		>;
	};

	pinctrl_audio_keys: audio_keysgrp { 
		fsl,pins = <
			MX8MP_IOMUXC_SAI5_RXD1__GPIO3_IO22         0x400001C6
			MX8MP_IOMUXC_SAI5_RXD2__GPIO3_IO23         0x400001C6
		>;
	};
};

&xcvr {
	#sound-dai-cells = <0>;
//	status = "okay";
};

&sai3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai3>;
	assigned-clocks = <&clk IMX8MP_CLK_SAI3>;
	assigned-clock-parents = <&clk IMX8MP_AUDIO_PLL1_OUT>;
	assigned-clock-rates = <12288000>;
	clocks = <&audiomix_clk IMX8MP_CLK_AUDIOMIX_SAI3_IPG>, <&clk IMX8MP_CLK_DUMMY>,
		 <&audiomix_clk IMX8MP_CLK_AUDIOMIX_SAI3_MCLK1>, <&clk IMX8MP_CLK_DUMMY>,
		 <&clk IMX8MP_CLK_DUMMY>;
	clock-names = "bus", "mclk0", "mclk1", "mclk2", "mclk3";
	fsl,sai-mclk-direction-output;
	status = "okay";
};

&easrc {
	fsl,asrc-rate  = <48000>;
	status = "okay";
};

&dsp {
	status = "okay";
};

&i2c3 {
	codec: wm8960@1a {
		compatible = "wlf,wm8960";
		reg = <0x1a>;
		clocks = <&audiomix_clk IMX8MP_CLK_AUDIOMIX_SAI3_MCLK1>;
		clock-names = "mclk";
		wlf,shared-lrclk;
		SPKVDD1-supply = <&reg_audio_pwr>;
	};

	headset: ts3a227e@3b {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ts3a227e>;

		compatible = "ti,ts3a227e";
		reg = <0x3b>;
		interrupt-parent = <&gpio5>;
		interrupts = <5 IRQ_TYPE_LEVEL_LOW>;
		ti,micbias = <0>;
	};
};
