[Unit]
Description=Summit USB Gadget daemon
After=local-fs.target

[Service]
Type=simple
ExecStart=/usr/bin/summit-usbgadget
StandardOutput=journal
StandardError=journal
SyslogIdentifier=summit-usbgadget
# Fixes -EL2HLT loss issue 
CapabilityBoundingSet=CAP_SYS_ADMIN CAP_SYS_BOOT CAP_DAC_OVERRIDE CAP_DAC_READ_SEARCH CAP_SYS_RAWIO
AmbientCapabilities=

[Install]
WantedBy=multi-user.target
