if TARGET_IMX8MP_SUMMITSOM

config SYS_BOARD
	default "imx8mp_summitsom"

config SYS_VENDOR
	default "laird"

config SYS_CONFIG_NAME
	default "imx8mp_summitsom"

source "board/freescale/common/Kconfig"

choice
	prompt "Summit SOM RAM size "
	default SYS_SUMMITSOM_2G
	help
	  Summit SOM RAM size

	config SYS_SUMMITSOM_2G
		bool "2 GB"

	config SYS_SUMMITSOM_1G
		bool "1 GB"

	config SYS_SUMMITSOM_512M
		bool "512 MB"

endchoice


endif
