CONFIG_AHAB_BOOT=y
CONFIG_BLK=y
CONFIG_USB_GADGET_DOWNLOAD=y
# CONFIG_USB_MASS_STORAGE is not set
# CONFIG_CMD_USB is not set
CONFIG_USB=y
CONFIG_USB_GADGET=y
CONFIG_USB_GADGET_MANUFACTURER="Ezurio"
CONFIG_USB_GADGET_VENDOR_NUM=0x3016
CONFIG_USB_GADGET_PRODUCT_NUM=0x0001
CONFIG_USB_GADGET_OS_DESCRIPTORS=y
CONFIG_CI_UDC=y
CONFIG_ENV_IS_NOWHERE=y
CONFIG_ENV_SOURCE_FILE="uboot-initramfs"
# CONFIG_ENV_IS_IN_FAT is not set
CONFIG_BOOTDELAY=3
# CONFIG_USB_XHCI_HCD is not set
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_EHCI_MX7=y
# CONFIG_CMD_USB_MASS_STORAGE is not set
CONFIG_USB_FUNCTION_DFU=y
CONFIG_DFU=y
CONFIG_DFU_RAM=y
CONFIG_CMD_DFU=y
CONFIG_CMD_BOOTM=y
CONFIG_CMD_BOOTI=y
